# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [8]:
select count(user_id) as count
from BooksDB.dbo.ratings as r
WHERE rating > (select average_rating from BooksDB.dbo.books)

: Msg 512, Level 16, State 1, Line 1
Subquery returned more than 1 value. This is not permitted when the subquery follows =, !=, <, <= , >, >= or when the subquery is used as an expression.

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [13]:
select book_id, average_rating
from BooksDB.dbo.books
where average_rating =1
-- GROUP by book_id
union
select book_id, average_rating
from BooksDB.dbo.books 
where average_rating = 5
-- GROUP by book_id

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [29]:
select book_id, language_code
from BooksDB.dbo.books
where language_code like 'en-us'
EXCEPT
select book_id, average_rating
from BooksDB.dbo.books 
where language_code like 'en-gb'

: Msg 8114, Level 16, State 5, Line 1
Error converting data type nvarchar to float.

In [32]:
select book_id, language_code
from BooksDB.dbo.books
where language_code like 'en-us'
and language_code not in (select book_id, language_code from BooksDB.dbo.books where language_code like 'en-gb')

: Msg 116, Level 16, State 1, Line 4
Only one expression can be specified in the select list when the subquery is not introduced with EXISTS.

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [24]:
select tag_id, tag_name
from BooksDB.dbo.tags 

where count(tag_id) > 100000
group by tag_id

: Msg 147, Level 15, State 1, Line 4
An aggregate may not appear in the WHERE clause unless it is in a subquery contained in a HAVING clause or a select list, and the column being aggregated is an outer reference.